body {
    background-color: aliceblue;
    text-align: center;
}
ul {
    display: inline-block;
}
li {
    margin: 10px;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: black;
    font-size: 20px;
}
h1 {
    background-color: blanchedalmond;
}
img {
    height: 300px;
    width: auto;
}
h2 {
    background-color: blanchedalmond;
}
h3 {
    background-color: blanchedalmond;
}
h4 {
    background-color: blanchedalmond;
}